[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
biopython = "*"
pandas = "*"
plotly = "*"
scipy = "*"
streamlit-option-menu = "*"

[dev-packages]

[requires]
python_version = "3.9"
